*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    background: linear-gradient(to right top,#ffd6d6, #c94983);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    justify-content: center;
}
.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255,255,255,0.5));
    height: 20rem;
    width: 20rem;
    position: absolute;

}
.circle1{
    top: 5%;
    right: 15%;
    background: transparent;
}
.circle2{
    bottom: 5%;
    left: 10%;
}
.btn{
    display: flex;
    background: black;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn:hover{
    background: green;
}
.front{
    border-radius: 0;
    margin: 0;
    width: 150%; 
    color: black; 
    background: transparent; 
    outline: 2px;
    margin: 10px;
    font-family: monospace;
    font-size:xx-large;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: column;

}
input{
    background: transparent;
    border: none;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    
}
form{
    width: 85vh;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border:1px solid #ddd;
}
h2{
    text-align: center;
}
th,td{
    text-align: center;
    padding: 15px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th{
    background-color: #c94983;
    color: white;
}
tr:nth-child(even):hover{
    background-color: pink;
    color: black;
}
tr:nth-child(odd):hover{
    background-color: pink;
    color: black;
}
